@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
}

.contenedorPrinc {
    background: linear-gradient(to bottom right, $color3, $color5);
}

/* Color de la navbar */
.navbar_color {
    background: $color4;
}

/* menu de la navbar a la izquierda */
#navbarNav {
    justify-content: flex-end
}

/* para sacar un padding de la navbar */
nav {
    padding: 0px !important;
}

.avatar {
    border-radius: 50px;
    width: 50px;
    height: 50px;
}

.swalImage {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.formulario {
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
}

#separador {
    padding: 5px;
}

.response {
    display: flex;
    background-color: $color5;
    border-radius: 25px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
}

#btnConvertir,
#btnRefrescar {
    display: flex;
    justify-content: center;
}

#boton,
#refrescar {
    background-color: $color3;
    border: none;
}

.titulo {
    text-align: center;
    font-size: 25px;
}

footer {
    font-size: 10px;
}